terratowns_endpoint="https://terratowns.cloud/api"
upper_peninsula = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/upper-peninsula"
    content_version = 2
}
sausage = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/sausage"
    content_version = 1
}
